#nodeMenu {
    margin-left: 0;
    padding-left: 0;
    width: 100px;
    border: 1px solid #999999;
    background-color: #efefef;
    position: fixed;

}

#nodeMenu li {
    display: block;
    border-bottom: 1px solid #343434;
    color: #343434;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px;
    font-family: "Arial";
}
